<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silence.mvc.batch.dao.write.TransactionWriteDao">


    <select id="selectAllTransaction" resultType="com.silence.mvc.batch.entity.Transaction">
            select * from transaction;
    </select>

    <insert id="insertTransaction" parameterType="com.silence.mvc.batch.entity.Transaction">
        insert into transaction(uid, transaction_id, fd_code, fd_name, state_msg)
            values (#{uid}, #{transactionId}, #{fdCode}, #{fdName}, #{stateMsg})
    </insert>

</mapper>
